<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
  <title>CV - {{basics.name}}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css"
    integrity="sha512-xX2rYBFJSj86W54Fyv1de80DWBq7zYLn2z0I9bIhQG+rxIF6XVJUpdGnsNHWRa6AvP89vtFupEPDP8eZAtu9qA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/brands.min.css"
    integrity="sha512-OivR4OdSsE1onDm/i3J3Hpsm5GmOVvr9r49K3jJ0dnsxVzZgaOJ5MfxEAxCyGrzWozL9uJGKz6un3A7L+redIQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/solid.min.css"
    integrity="sha512-qzgHTQ60z8RJitD5a28/c47in6WlHGuyRvMusdnuWWBB6fZ0DWG/KyfchGSBlLVeqAz+1LzNq+gGZkCSHnSd3g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>{{{_.styles}}}</style>
</head>

<body resume>
  <aside>
    {{#with basics}}
    
    {{#if image}}
      <div class="photo">
        <div class="hex hex-border hex-absolute"></div>
        <div class="hex hex-solid">
            <img src="{{image}}" alt="photo">    
        </div>
      </div>
    {{/if}}

    <div class="name">
      {{names name}}
    </div>

    <div class="title">
      {{label}}
    </div>

    <section class="contacts">
      <div class="heading flex-row">
        <div class="hex-icon">
          <div class="hex hex-border"></div>
          <i class="fa-solid fa-id-badge"></i>
        </div>
        <h3>Contact Me</h3>
      </div>

      <ul>
        {{#if phone}}
        <li>
          <div class="hex-icon">
            <div class="hex hex-solid"></div>
            <i class="fa-solid fa-phone"></i>
          </div>
          <div>
            {{phone}}
          </div>
        </li>
        {{/if}}

        {{#if email}}
        <li>
          <div class="hex-icon">
            <div class="hex hex-solid"></div>
            <i class="fa-solid fa-envelope"></i>
          </div>
          <div>
            <a href="mailto:{{email}}">{{email}}</a>
          </div>
        </li>
        {{/if}}

        {{#if url}}
        <li>
          <div class="hex-icon">
            <div class="hex hex-solid"></div>
            <i class="fa-solid fa-globe"></i>
          </div>
          <div>
            <a target="_blank" href="{{url}}">
              {{tiny url}}
              <sup>
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </sup>
            </a>
          </div>
        </li>
        {{/if}}

        {{#if location}}
        <li>
          <div class="hex-icon">
            <div class="hex hex-solid"></div>
            <i class="fa-solid fa-location-dot"></i>
          </div>
          <div>
            {{#if location.city}}
              {{location.city}}
            {{/if}}
            {{#if location.region}}
              {{#if location.city}},{{/if}} 
              {{location.region}}
            {{/if}}
            {{#if location.countryCode}}
              {{#if location.region}},{{/if}} 
              {{location.countryCode}}
            {{/if}}
          </div>
        </li>
        {{/if}}
      </ul>
    </section>
    {{/with}}

  {{#if skills}}
    <section class="skills">
      <div class="heading flex-row">
        <div class="hex-icon">
          <div class="hex hex-border"></div>
          <i class="fa-solid fa-code"></i>
        </div>
        <h3>Skills</h3>
      </div>

      {{#each skills as | sk |}}
        <div class="skill">
          <span>{{name}}</span>
          <div>
          {{#if level}}
            {{#if (or (eq level "1") (eq level "1/5"))}}
              <span class="skill-level skill-level-active"></span>
              <span class="skill-level"></span>
              <span class="skill-level"></span>
              <span class="skill-level"></span>
              <span class="skill-level"></span>
            {{/if}}
            {{#if (eq or (eq level "2") (eq level "2/5"))}}
              <span class="skill-level skill-level-active"></span>
              <span class="skill-level skill-level-active"></span>
              <span class="skill-level"></span>
              <span class="skill-level"></span>
              <span class="skill-level"></span>
            {{/if}}
            {{#if (or (eq level "3") (eq level "3/5"))}}
              <span class="skill-level skill-level-active"></span>
              <span class="skill-level skill-level-active"></span>
              <span class="skill-level skill-level-active"></span>
              <span class="skill-level"></span>
              <span class="skill-level"></span>
            {{/if}}
            {{#if (or (eq level "4") (eq level "4/5"))}}
              <span class="skill-level skill-level-active"></span>
              <span class="skill-level skill-level-active"></span>
              <span class="skill-level skill-level-active"></span>
              <span class="skill-level skill-level-active"></span>
              <span class="skill-level"></span>
            {{/if}}
            {{#if (or (eq level "5") (eq level "5/5"))}}
              <span class="skill-level skill-level-active"></span>
              <span class="skill-level skill-level-active"></span>
              <span class="skill-level skill-level-active"></span>
              <span class="skill-level skill-level-active"></span>
              <span class="skill-level skill-level-active"></span>
            {{/if}}
          {{/if}}
          </div>
        </div>
      {{/each}}
    </section>
  {{/if}}

    <section class="talks">
      <div class="heading flex-row">
        <div class="hex-icon">
          <div class="hex hex-border"></div>
          <i class="fa-solid fa-microphone"></i>
        </div>
        <h3>Talks and Presentations</h3>
      </div>
      <p>
        Slides, audio, and video available from
        numerous presentations:
        <a href="https://allthingsauth.com/talks">
          allthingsauth.com/talks
        </a>
        <sup>
          <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </sup>.
      </p>
    </section>

    <section class="social">
      <div class="heading flex-row">
        <div class="hex-icon">
          <div class="hex hex-border"></div>
          <i class="fa-solid fa-share-nodes"></i>
        </div>
        <h3>Profiles</h3>
      </div>

      <ul>
        {{#each basics.profiles}}
        <li>
          <div class="hex-icon">
            <div class="hex hex-solid"></div>
            <i class="fa-brands fa-{{lowercase network}}"></i>
          </div>
          <a rel="noreferrer" target="_blank" href="{{url}}" title="{{network}}">
            {{tiny url 2}}
            <sup>
              <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </sup>
          </a>
        </li>
        {{/each}}
      </ul>
      </div>
    </section>
  </aside>

  <main>
    <section class="work">
      <div class="heading flex-row">
        <div class="hex-icon">
          <div class="hex hex-border"></div>
          <i class="fa-solid fa-briefcase"></i>
        </div>
        <h3>Notable Work Experience</h3>
      </div>

      {{#each work}}
      <div class="company">
        <div class="heading flex-row">
          <h4>
            {{name}}
            {{#if url}}
              <a href="{{url}}" target="_blank">{{tiny url}}</a>
            {{/if}}
          </h4>
          <span class="position">{{position}}</span>
          {{> dates startDate=startDate endDate=endDate}}
        </div>

        <div class="summary">{{summary}}</div>

        <div class="highlights">
          {{#each highlights as | stack |}}
          <div class="stack">{{stack}}</div>
          {{/each}}
        </div>
      </div>
      {{/each}}
    </section>

    <section class="publications">
      <div class="heading flex-row">
        <div class="hex-icon">
          <div class="hex hex-border"></div>
          <i class="fa-solid fa-scroll"></i>
        </div>
        <h3>Refereed Publications</h3>
      </div>

      {{#each publications}}
      <div class="publication">
        <div>
          <b>
            {{name}}.
          </b>
          {{summary}}
          {{#if award}}
            <i class="fa-solid fa-trophy"></i>
            {{award}}.
          {{/if}}
          {{#if url}}
            [<a href="{{url}}" target="_blank">{{publisher}}
              <sup>
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </sup>
            </a>]
          {{/if}}
        </div>
      </div>
      {{/each}}
    </section>

    <section class="education">
      <div class="heading flex-row">
        <div class="hex-icon">
          <div class="hex hex-border"></div>
          <i class="fa-solid fa-graduation-cap"></i>
        </div>
        <h3>Education</h3>
      </div>

      {{#each education as | e |}}
      <div class="institution">
        <div class="heading flex-row">
          <h4>
            {{institution}}
            {{#if url}}
              <a href="{{url}}" target="_blank">{{tiny url}}</a>
            {{/if}}
          </h4>
          <span class="studyType">{{studyType}}</span>
          {{> dates startDate=startDate endDate=endDate}}
        </div>
      </div>
      {{/each}}
    </section>
  </main>
</body>

</html>
